@import "./reset.css";
@import "./bootstrap.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";
@import "./postmark.css";

p {
    font-size: larger;
}

.content {
    background-color: #e6e6e6;
}


h3 {
    line-height: 1.3;
    color: #696969;
}

.code-toolbar {
    padding-bottom: 4%;
}
